<!DOCTYPE html>
<html>
<head>
    <title>본인인증 테스트</title>
    <style type="text/css">
        td { border: 1px solid #ccc; padding: 8px; }
        table { border-collapse: collapse; width: 100%; margin-bottom: 20px; }
    </style>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td style="width:200px">reqNo</td>
                <td><%=reqNo%></td>
            </tr>
            <tr>
                <td>reqDtim</td>
                <td><%=reqDtim%></td>
            </tr>
            <tr>
                <td>tokenValue</td>
                <td><%=tokenVal%></td>
            </tr>
            <tr>
                <td>tokenVersionId</td>
                <td><%=tokenVersionId%></td>
            </tr>
            <tr>
                <td>resultValue</td>
                <td><%=resultVal%></td>
            </tr>
            <tr>
                <td>key</td>
                <td><%=key%></td>
            </tr>
            <tr>
                <td>iv</td>
                <td><%=iv%></td>
            </tr>
            <tr>
                <td>hmacKey</td>
                <td><%=hmacKey%></td>
            </tr>
            <tr>
                <td>jsonData</td>
                <td><%=plain%></td>
            </tr>
            <tr>
                <td>encData</td>
                <td><%=encData%></td>
            </tr>
            <tr>
                <td>integrity</td>
                <td><%=integrity%></td>
            </tr>
        </tbody>
    </table>

    <form name="form_chk" method="post" action="https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb">
        <input type="hidden" name="m" value="service"/>
        <input type="hidden" name="token_version_id" value="<%=tokenVersionId%>"/>
        <input type="hidden" name="enc_data" value="<%=encData%>"/>
        <input type="hidden" name="integrity" value="<%=integrity%>"/>
        <button type="submit" style="padding: 10px 20px; font-size: 16px;">CheckPlus 안심본인인증 Click</button>
    </form>
</body>
</html> 